{% extends 'camanagement/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/add_cam.css' %}">
{% endblock %}

{% block content %}
    <main class="main">
        <div class="main__block">
            <form method="post">
                {% if uuid %}
                    <label>UUID: </label>
                    <input class="form-select mb-3" value="{{ uuid }}" disabled="disabled" type="text">
                {% endif %}
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary" type="submit">{{ btn_label }}</button>
            </form>
        </div>
    </main>
{% endblock %}