{% extends 'camanagement/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/add_cam.css' %}">
{% endblock %}

{% block content %}
    <main class="main">
        <div class="main__block">
            <form action="{% url 'camanagement:add_cam' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </main>
{% endblock %}