{% extends 'camanagement/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/add_cam.css' %}">
{% endblock %}

{% block content %}
    <main class="main">
        <div class="main__block">
            <form action="{% url 'camanagement:add_cam' %}" method="post">
                <div class="mb-3">
                    <label for="rtsp_url_id" class="form-label">RTSP URL</label>
                    <input type="text" class="form-control" id="rtsp_url_id" placeholder="RTSP URL">
                </div>
                <div class="mb-3">
                    <label for="name_id" class="form-label">Camera's name</label>
                    <input type="text" class="form-control" id="name_id" placeholder="Name">
                </div>
                <button class="btn btn-primary">Add</button>
            </form>
        </div>
    </main>
{% endblock %}