{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    {% block css %}{% endblock %}
    <title>Cunfo</title>
</head>
<body>
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="{% url 'index' %}">Cunfo</a>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>