{% extends 'camanagement/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/add_cam.css' %}">
{% endblock %}

{% block content %}
    <main class="main">
        <div class="main__block">
            <form action="{% url 'camanagement:launch_record' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
                <button class="btn btn-primary">Launch</button>
            </form>
        </div>
    </main>
{% endblock %}